
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.logo{
    font-size: 2.5rem;
    display: flex;
}

.logo img{
    height: 70px;
    border-radius: 80%;
    padding-right: .5rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: #111;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #29d9d5;
    border-radius: 5rem;
  }

body{
     background: #07232e;
     overflow-x: hidden;
}

section{
    padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
   color: #7dc9e2;
    border:0.2re, solid #b93ca6;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: #a3e0f8;
    color: #111;
  }

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /*background: #17475c;*/
    background-image: linear-gradient(310deg, #244b49 0, #06203e 25%, #4d4468 50%, #354169 75%, #272c72 100%);
    display: -web kit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a{
  font-size: 1.7rem;
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover{
    color: #29d9d5;
  }
  
  .header .btn{
    margin-top: 0;
  }

.btn{
    margin-top: 0;
}
#menu-btn{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.casa{
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background-image: linear-gradient(70deg, #7d9ce1 0, #6c90d8 50%, #5a84cf 100%);
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.casa .content{
    text-align: center;
  }
  
  .casa .content span{
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 0.1rem #fff;
    font-size: 4vw;
    display: block;
  }
  
  .casa .content h3{
    font-size: 6vw;
    color: #fff;
  }

  .casa .content p{
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #040943;
    line-height: 2;
}

.acerca{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
  }

  .acerca .video-container{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
  }
  
  .acerca .video-container video{
    border-radius: 1rem;
    width: 100%;
  }
  
  .acerca .video-container .controls{
    text-align: center;
    padding: 2rem 0;
  }

  .acerca .video-container .controls span{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: .7rem;
  }

  .acerca .video-container .controls span:hover{
    background: #29d9d5;
  }
  
  .acerca .content{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 42rem;
            flex: 1 1 42rem;
    margin-bottom: 5rem;
  }
  
  .acerca .content span{
    color: #49b3b1;
    font-size: 2rem;
  }
  
  .acerca .content h3{
    color: #fff;
    font-size: 4rem;
    margin-top: .5rem;
  }
  
  .acerca .content p{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #9285c8;
    line-height: 2;
  }
  
.sevicios .box-container{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.sevicios .box-container .box{
  background: #222;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}

.sevicios .box-container .box:hover{
  border: 0.2rem solid #29d9d5;
}

.sevicios .box-container .box i{
  font-size: 4rem;
  color: #29d9d5;
  margin-bottom: 2rem;
}

.sevicios .box-container .box h3{
  font-size: 2rem;
  color: #fff;
}

.sevicios .box-container .box p{
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.galeria .box-container{
  -webkit-columns: 3 25rem;
          columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.galeria .box-container .box{
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.galeria .box-container .box img{
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.galeria .box-container .box span{
  font-size: 1.4rem;
  color: #aaa;
}

.galeria .box-container .box h3{
  margin-top: .5rem;
  font-size: 2rem;
  color: #fff;
}

.map-body{
  padding: 0 40px;
  width: 100%;
  height: 400px;
}

.map-body iframe{
  width: 100%;
  height: 100%;
  display: block;
}

.footer .box-container{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}



.footer .box-container .box{
  padding: 1rem 0;
}

.footer .box-container .box img{
  width: 60px;
  border-radius: 50%;
}

.footer .box-container .box .logo{
  padding-bottom: 1rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.4rem;
  color: #f1ebeb;
  padding: 1rem 0;
  line-height: 2;
  text-transform: lowercase;
}

.footer .box-container .box p i{
  padding-right: .5rem;
  color: #29d9d5;
}


.footer .box-container .box .share{
  padding-top: 1rem;
}

.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 70%;
  font-size: 3.7rem;
  border: 0.2rem solid #015754;
  color: #7dc5c2;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background: #71d4ea;
  color: #111;
}

.footer .box-container .box .links{
  font-size: 1.4rem;
  color: #74bff9;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover{
  color: #8718a3;
}

.footer .box-container .box .links:hover i{
  padding-right: 2rem;
}

.footer .box-container .box .links i{
  padding-right: .5rem;
  color: #29d9d5;
}



@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 3rem 2rem;
    }
}


@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-image: linear-gradient(310deg, #244b49 0, #06203e 25%, #4d4468 50%, #354169 75%, #272c72 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

    .header .navbar a{
      margin: 2rem;
      font-size: 2rem;
      display: block;
    }

    .casa{
        margin-top: 10rem;
      }
    .casa .content span{
        font-size: 8vw;
      }
    .casa .content h3{
        font-size: 9vw;
    }
}



@media (max-width:450px){
    
    html{
        font-size: 30%;
    }
     
    .casa{
        margin-top: 18rem;
      }
    .casa .content span{
        font-size: 10vw;
      }
    .casa .content h3{
        font-size: 13vw;
    }

    .acerca .content h3{
        font-size: 3.5rem;
      }

      .map-body{
        padding: 0 10px;
      }
}